venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/

dataset/split_style/
dataset/split/
dataset/split_type/

models/
outputs/
runs/
checkpoints/

*.log