venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/
*.ipynb_checkpoints

.DS_Store
Thumbs.db

.vscode/
.idea/

dataset/split_style/
dataset/split/
dataset/split_type/
dataset/external_type_test/

models/
*.pth
*.pt

outputs/
runs/
checkpoints/

results/**/*.png
results/**/*.jpg
results/**/*.jpeg

*.log